{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@pages": "./src/pages"
        }
      }
    ]
  ]
}
